LinkedIn img Gen.json
{
  "name": "LinkedIn img Gen",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "=searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1392,
        288
      ],
      "id": "a364f120-5fa6-45a3-8f61-2be03f1395e0",
      "name": "Tavily"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post: {{ $json['Topic of Post'] }}\n\nTarget Audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n## Objectives  \nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:  \n- Starts with an engaging hook to capture attention  \n- Maintains a professional and credible tone throughout  \n- Is clear, easy to read, and structured into 2–4 short paragraphs  \n- Provides educational insights and relevant context  \n- Delivers a slightly longer, more informative post (approx. 120–200 words)  \n- Uses emojis only when highly relevant and minimal  \n- Includes proper source attribution (e.g., “according to [source]”)  \n- Transparently includes the full URL of the original source within the post  \n- Ends with a clear and relevant call to action (e.g., asking for feedback, opinions, or shares)  \n- Includes 3–5 relevant hashtags to improve discoverability  \n\n## Output Instructions  \n- Your ONLY output should be the final LinkedIn post text.  \n- Do not include any explanations, notes, or metadata.  \n- Always include the direct source URL used in your research.  \n\n## Example Workflow  \n1. Receive a topic (e.g., “The ROI of warehouse automation”)  \n2. Use Tavily to search and gather recent, credible information or case studies  \n3. Draft a slightly longer LinkedIn post using the gathered information  \n4. Format it with a compelling hook, clear structure, accurate citations, and a direct source URL  \n5. Close with a relevant CTA and include 3–5 relevant hashtags  \n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1376,
        16
      ],
      "id": "16f4f91a-2ada-4735-84e4-46140f02dbee",
      "name": "LinkedIn Post Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post: \n{{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1776,
        0
      ],
      "id": "b28cbd42-2aac-4ac5-b475-f65be9d1dbcb",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        16
      ],
      "id": "7c9d055c-4e59-4250-86da-e2aeb01c2fb1",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2464,
        16
      ],
      "id": "e1b57c5d-05de-4745-ae99-af054ae7c2b2",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "formTitle": "LinkedIn Post Generator",
        "formDescription": "Fill out these fields and you'll have a full LinkedIn post ready to go in a minute. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "name@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Topic of Post",
              "placeholder": "Robots",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1104,
        16
      ],
      "id": "8c4821c4-8b25-42aa-90d3-5aa838eb747c",
      "name": "On form submission",
      "webhookId": "359fa996-5531-40ae-be37-4a6e136952e2"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 260,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -96
      ],
      "id": "d99f8133-5bc7-4beb-8ee8-83b6dd7d97d6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        -96
      ],
      "id": "d922d44f-9f72-41da-9f6f-90a21ec63d1f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Post",
        "height": 260,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2656,
        -96
      ],
      "id": "0cdda406-f135-46f8-98b0-16222ce2ff6a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 260,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        -96
      ],
      "id": "c5342077-0d58-48b7-a24d-81e1aa9197cf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Form Trigger",
        "height": 260,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -96
      ],
      "id": "25dcd75f-fb52-4e9a-be28-590fbc661580",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        192
      ],
      "id": "1248d2be-c506-4bd0-8c5b-289385cb9eb8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1552,
        288
      ],
      "id": "d95a8bbe-e3fc-4ac0-8cdf-5e19253f951e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sNzbXkEFB5vfX0j8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "person": "1MrkAgfoST",
        "text": "={{ $('LinkedIn Post Agent').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2704,
        16
      ],
      "id": "71a17a1e-8279-4811-a5cc-5a09e9293434",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "NMmniDo2OcC76RqY",
          "name": "LinkedIn account 7"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c242e207-0697-47e2-8ec5-5271acf340c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "473df4957c7b111425fa1bedd16d6afc129e19aa0ab8d4a5b9391d55ba205d7c"
  },
  "id": "9i9mrNeNeGH4ma1m",
  "tags": []
}